NODE_ENV=development
PORT=5000
MONGO_URI=mongodb+srv://<user>:<password>@<cluster>/tatakrgb
JWT_SECRET=change-me
PAGINATION_LIMIT=8
PAYPAL_CLIENT_ID=your-paypal-client-id
PAYPAL_APP_SECRET=your-paypal-app-secret
PAYPAL_API_URL=https://api-m.sandbox.paypal.com
